.places {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places
h1 {
    width: 100%;
    margin: 30px auto 0 20px;
}

.places article
h2 {
    font-size: 30px;
    text-align: center;
    margin: 6px auto 24px auto;
}

.places
article {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places
.price_by_night {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 16px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    height: 60px;
    min-width: 60px;
    font-size: 30px;
}

.places article
.title_category {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding: 15px 0 10px 0;
}

.places
.information {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.places .information
.information2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
}

.places .information .information2
.max_guest,
.number_rooms,
.number_bathrooms {
    text-align: center;
    margin-bottom: 4px;
    font-size: 14px;
}

.places .information .information2
.icon_group,
.icon_bed,
.icon_bath {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    flex: 1 0 0;
    padding: 30% 0 0 0;
}

.places .information .information2
.icon_group {
    background-image: url("../images/icon_group.png");
}

.places .information .information2
.icon_bed {
    background-image: url("../images/icon_bed.png");
}

.places .information .information2
.icon_bath {
    background-image: url("../images/icon_bath.png");
}

.places article .user
p {
    font-size: 14px;
    margin: 20px 0 0 0;
}

.places article .description,
p {
    font-size: 14px;
}

.places article .Amenities
ul {
    list-style-type: none;
    font-size: 16px;
    margin-left: -40px;
}

.places article .Amenities ul
.TV,
.WIFI,
.Pets_Friendly {
    background-repeat: no-repeat;
    background-size: contain;
}

.places article .Amenities ul
.TV {
    background-image: url("../images/icon_tv.png");
}

.places article .Amenities ul
.WIFI {
    background-image: url("../images/icon_wifi.png");
}

.places article .Amenities ul
.Pets_Friendly {
    background-image: url("../images/icon_pets.png");
}

.places article .Amenities ul li
.Amenities_list_test {
    margin-left: 20px;
}

.places article .reviews
ul {
    list-style-type: none;
    margin-left: -40px;
}

.places article .reviews ul li
h3 {
    margin: 0;
    font-size: 14px;
}

.places article .reviews ul li
p {
    margin: 0 0 20px 0;
    font-size: 12px;
}

footer {
    position: relative;
}
